{% extends 'base.html' %}
{% load bootstrap5 %}
{% block body %}


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ post.image.url }}" class="img-fluid rounded-center" alt="" style="margin: 10px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div style="display: flex; align-items: flex-end; margin-top: 3px; margin-bottom: 3px;">
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
            {% else %}
            <img src="/media/profile/default.jpeg" alt="" class="rounded-circle" width="30px">
            {% endif %}
            <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none" style="margin-left: 10px;">
                {{ post.user }}
            </a>
            </div> 
            <p class="card-text">{{ post.content }}</p>
        </div>
        
        <hr>
        <!-- 댓글 구현하기 -->
        {% if user.is_authenticated %}

        <form action="{% url 'posts:comment_create' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary">
        </form>
        {% endif %}
        
        <!-- 딜리트 구현 하기 : 전혀 안되는중-->
        {% for comment in post.comment_set.all %}
            <div class="alert alert-light">
                {{ comment.user }} : {{ comment.content }}
                {% if user == comment.user %}
                <a class="btn btn-danger btn-sm" href="{% url 'posts:comment_delete' post_id=article.id id=comment.id %}">delete</a>
                {% endif %}
            </div>
    
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}